{:up   ["CREATE EXTENSION citext;
         CREATE TABLE members (
                              id serial primary key,
                              username citext not null unique,
                              email citext not null unique,
                              password text not null,
                              created_at timestamp);"]
 :down ["DROP TABLE members;"]}
