{:up   ["CREATE TABLE bookmark_user (
                                 user_id integer references users(id),
                                 bookmark_id integer references bookmarks(id),
                                 PRIMARY KEY (user_id, bookmark_id));
         INSERT INTO bookmark_user(user_id, bookmark_id) (SELECT user_id, id FROM bookmarks);
         ALTER TABLE bookmarks DROP CONSTRAINT bookmarks_member_id_fkey;
         ALTER TABLE bookmarks RENAME COLUMN user_id to created_by;"]

 :down ["ALTER TABLE bookmarks RENAME COLUMN created_by to user_id;

        ALTER TABLE bookmarks
        ADD CONSTRAINT bookmarks_member_id_fkey
        FOREIGN KEY (user_id)
        REFERENCES users (id);

        DROP TABLE bookmark_user;"]}
