{:up   ["ALTER TABLE bookmarks ADD COLUMN owner integer not null DEFAULT '-1';
        UPDATE bookmarks SET owner = user_id;
        CREATE TABLE bookmark_user (
                                 user_id integer references users(id),
                                 bookmark_id integer references bookmarks(id),
                                 PRIMARY KEY (user_id, bookmark_id));"]

 :down ["ALTER TABLE bookmarks DROP COLUMN owner;
        DROP TABLE bookmark_user;"]}
